<header><h1><a href="/"><img src="https://s3-us-west-2.amazonaws.com/web-design-ext-production/p/Combologo_474x356.png"></a></h1></header>
<div class="container">
    {{outlet}}
</div>
<footer>Powered by Ember</footer>